/* *** NOTES *** */
/*  Orangish - #FF652F, rgb(255, 101, 47) 
    Yellowish - #FFE400, rgb(255, 228, 0)
    Dark grayish - #272727, rgb(39, 39, 39)
*/

/* *** UNIVERSAL *** */
.nbs-colourTheme-whitish {
    color: whitesmoke;
}

.nbs-colourTheme-yellowish {
    color: #FFE400;
}

.nbs-colourTheme-orangish {
    color: #FF652F;
}

.nbs-relative {
    position: relative;
}

.nbs-absolute {
    position: absolute;
}

.nbs-container-height {
    height: 100%;
}


/* *** NAVIGATION BAR *** */
.nbs-nav-logo-dec {
    height: 3rem;
}

.nbs-nav-dec {
    background-color: #272727;
    border-bottom: 5px solid #FF652F;
}


/* *** HOME PAGE *** */
.nbs-home-bg {
    background-color: black;
    background: url(../images/background-images/abigail-keenan-8-s5QuUBtyM-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}

.nbs-btn-dec {
    background-color: #FFE400;
}

/* *** SECTION 1 - HOW IT WORKS *** */
.nbs-s1-bg {
    background-color: #272727;
    min-height: auto
}

.nbs-card-dec {
    background-color: #FFE400;
    height: 22rem;
}

.nbs-card-icon-dec {
    font-size: 4rem;
}

#how-it-works p {
    /* font-size: 1.1rem; */
}

/* *** SECTION 2 & 3 */
.nbs-s2s3-bg {
    background-image: url(../images/background-images/dominik-kuhn-kEHp1gUJNO8-unsplash.jpg);
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.nbs-s2s3-overlay {
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(255, 101, 47, 0.55);
    /* background-color: rgba(255, 228, 0, 0.6); */
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

/* *** SECTION 2: GALLERY */
.nbs-carousel-dec {
    border: 4px solid;
    /* border: none; */
    border-color: whitesmoke;
}

/*  *** SECTION 3: REGISTRATION *** */
.nbs-form-dec {
    background-color: #272727;
    border: 4px solid;
    border-color: #FFE400;
}

.nbs-registration-btn {
    background-color: #FFE400;
}

.nbs-modal-dec {
    background-color: #272727;
    border: 4px solid;
    border-color: #FFE400;
    color: whitesmoke;
}

.nbs-form-radio-text {
    font-size: 1rem;
}

/* *** FOOTER *** */
.nbs-footer-bg {
    background-color: black;
}

.nbs-footer-card-dec {
    background-color: transparent;
}

.nbs-getintouch-icon-dec {
    color: #FF652F;
}

.nbs-socialm-icon-dec {
    color: #FF652F;
    font-size: 2rem;
}


/* *** CHANGES WHEN SCREEN SIZE IS LG+ *** */
@media (min-width: 992px) {
    /* *** UNIVERSAL *** */
    h1 {
        font-size: 4rem;
    }

    /* *** HOME PAGE *** */
    .nbs-header-p-dec {
        font-size: 1.6rem;
    }

    .btn-lg {
        font-size: 2rem;
    }

    /* *** SECTION 1 - HOW IT WORKS *** */
    #how-it-works h2 {
        font-size: 3rem;
    }

    #how-it-works h3 {
        font-size: 2.2rem;
    }

    #how-it-works i {
        font-size: 4.5rem;
    }

    #how-it-works p {
        font-size: 1.3rem;
    }

    #how-it-works {
        font-size: 1.2rem;
    }

    .nbs-s1-bg {
        background-color: #272727;
        min-height: 80vh;
    }
    
    .nbs-card-dec {
        background-color: #FFE400;
        height: 22rem;
        min-height: 26rem;
    }
    
    .nbs-card-icon-dec {
        font-size: 3rem;
    }

    
    /*  *** SECTION 2 - GALLERY *** */
    #gallery h2 {
        font-size: 3rem;
    }

    /*  *** SECTION 3 - REGISTRATION *** */
    #registration h2 {
        font-size: 3rem;
    }

    #registration label {
        font-size: 1.5rem;
    }

    /* *** FOOTER - ABOUT US *** */
}

/* *** CHANGES WHEN SREEN SIZE IS XL+ *** */
@media (min-width: 1200px) {
    /* *** HOME PAGE *** */
    .nbs-home-bg {
        background-position: bottom center;
        background-size: cover;
    }
}

@media (min-width: 1400px) {
}